body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(./images/images.png);
}
.content{
    width: 100%;
    height: 100%;
    background-color: rgba(115, 250, 151, 0.3);
}
header{
    width: 100%;
    height: 120px;
}
.user, .logo, .main, .statsGraphs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user > a{
    text-decoration: none;
}
.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: rgb(236, 232, 117);
    border-radius: 50%;
}
.frame > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 135px;
    border-radius: 30px;
    background-color: white;
}
.headContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.user{
    
    width: 10%;
    height: 100%;
}

.logo {
    /* width: 10%; */
    height: 100%;
}
.logo > img {
    width: 90px;
    height: 90px;
    margin-left: calc(-5% - 120px);
}
.main{
    width: 100%;
    height: 100%;
}
.mainContent{
    width: 60%;
    height: 100%;
}
.glassPlates{
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 30px;
    background-color: rgb(121, 255, 230, 0.9);
    border: solid 5px;
    border-color: rgb(189, 255, 244, 0.4);
}
