.navigation{
    /* position: relative; */
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: start;
    height: 80%;
    width: 15%;
    margin-top: -180px;
    margin-left: 50px;
    margin-right: -300px;
    
}
[name = 'added']{
    
    animation: open 0.5s;
    
}
@keyframes open{
    0%{
        transform:translateX(-150%);
    }
    100%{
        transform: translateX(0);
    }
}
[name = 'deleted']{
    animation: close 0.5s ;   
}
@keyframes close{
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-150%);
    }
}
.navCase{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--opacity-bg-color);
    border-radius: 80px;
    /* padding; */

}
.button{
    width: 80%;
    height: 120px;
    background-color: var(--main-intaractive-color);
    border-radius: 20px;
    transition: 1s ease;
    /* margin-top: 70px; */
    /* margin-bottom: 70px; */
}
.button:hover{
    background-color: rgb(255, 169, 169);
}