.close_pop{
    z-index: 999;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.close_pop:hover{
    animation: rotates 0.25s;
}


    
@keyframes rotates{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(36deg);
    }
    40%{
        transform: rotate(72deg);
    }
    60%{
        transform: rotate(108deg);
    }
    80%{
        transform: rotate(144deg);
    }
    100%{
        transform: rotate(180deg);
    }
}


.popGlass{
    z-index: 10;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--main-bg-color);
    border: 5px solid rgba(189, 255, 244, 0.4);
}

.popup{
    width: 500px;
    height: 500px;
    z-index: -1;
    /* background-color: red; */
    opacity: 0;
    position: fixed;
    top: -100%;
}
.pop_active{
    opacity: 1;
    z-index: 100;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}

.shadow_pop{
    position: fixed;
    opacity: 0;
    left:-100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.shadow_pop_active{
    z-index: 99;
    opacity: 1;
    left: 0;
}
