.bigPlate{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.inputMain, .additionals, .statsGraphs, .statsNums{
    margin-top: 20px;
    margin-left: 20px;
}
.inputMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: rgb(236, 232, 117);
    border-radius: 30px;
}
.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 260px;
}
.inputs > p {
    width: 40px;
}
.inputs > input{
    text-align: center;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
}
.additionals{
    display: flex;
    align-items: center;
    width: 100%;
    height: 19%;
    background-color: rgb(117, 236, 127);
    border-radius: 70px;
}
.sportPicture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: aqua;
    border: solid rgb(237, 169, 249, 0.4);
}
.sportPicture > img {
    width: 70%;
    height: 70%;
}
.sportDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 90px;
    margin-left: 10px;
    background-color: azure;
    border-radius: 0px 30px 30px 0px;
}
.taskText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 50%;
    width: 100%;
    background-color: aqua;
    border: solid 2px rgb(237, 169, 249, 0.4);
    transition: 0.5s ease;
}
.taskText:hover{
    background-color: rgb(144, 255, 255);;
}
.top{
    border-radius: 0px 30px 0px 0px;
}
.bot{
    border-radius: 0px 0px 30px 0px;
}
.statsPlate{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
}
.statsGraphs{
    width: 90%;
    height: 60%;
    background-color: rgb(117, 236, 127);
    border-radius: 30px;
}
.arrow{
    width: 90px;
    height: 100%;
    background-color: rgb(236, 232, 117, 0.5)
}
.left{
    border-radius: 30px 0px 0px 30px;
}
.right{
    border-radius: 0px 30px 30px 0px;
}
.graph{
    display: flex;
    /* justify-content: start; */
    /* align-items: end; */
    flex-direction: column;
    width: 78%;
    height: 95%;
}
.collumsContent{
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 90%;
}
.column{
    width: 30px;
    margin-left: 10px;
    background-color: rgb(254, 117, 117);
    height: 0;
    animation: 0.1s append ease-in;
}
@keyframes append{
    from {
        height: 0;
    }
    to{
        height: 100%;
    }
}
.datesContent{
    display: flex;
    width: 100%;
    height: 10%;
    margin-left: 5px;
}
.date{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    width: 40px;
    height: 50px;
    margin-top: 25px;
}
.statsNums{
    height: 32.4%;
    width: 90%;
    background-color: rgb(236, 232, 117);
    border-radius: 50px;
}
.statsNums > h3{
    margin-top: 30px;
    margin-left: 10px;
}
.addNewStats{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 15px;
    width: 100%;
    height: 100%;
    /* margin-top: 40px */
}
.addWeight, .addDate{
    
    background-color: whitesmoke;
    border: solid rgb(254, 117, 117) 2px;
    border-radius: 15px;
    width: 70px;
    height: 50px;
    ;
    /* text-justify: ; */
    text-align: center;
    font-size: 25px;
}
.addDate{
    height: 50px;
    width: 200px;
    margin-left: 20px;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(254, 117, 117);
    transition: 0.5s ease;
}
.submit:hover{
    background-color: rgb(255, 169, 169);
}