body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(./images/images.png);
}
.content{
    width: 100%;
    height: 100%;
    background-color: rgba(115, 250, 151, 0.3);
}
header{
    width: 100%;
    height: 120px;
}
.user, .logo, .main, .statsGraphs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: rgb(236, 232, 117);
    border-radius: 50%;
}
.frame > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 135px;
    border-radius: 30px;
    background-color: white;
}
.headContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.user{
    
    width: 10%;
    height: 100%;
}
.logo{
    /* width: 10%; */
    height: 100%;
}
.logo > img {
    width: 90px;
    height: 90px;
    margin-left: calc(-5% - 120px);
}
.main{
    width: 100%;
    height: 100%;
}
.mainContent{
    width: 60%;
    height: 100%;
}
.glassPlates{
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 30px;
    background-color: rgb(121, 255, 230, 0.9);
    border: solid 5px;
    border-color: rgb(189, 255, 244, 0.4);
}
.bigPlate{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.inputMain, .additionals, .statsGraphs, .statsNums{
    margin-top: 20px;
    margin-left: 20px;
}
.inputMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: rgb(236, 232, 117);
    border-radius: 30px;
}
.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 260px;
}
.inputs > p {
    width: 40px;
}
.inputs > input{
    text-align: center;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: none;
}
.additionals{
    display: flex;
    align-items: center;
    width: 100%;
    height: 19%;
    background-color: rgb(117, 236, 127);
    border-radius: 70px;
}
.sportPicture{
    width: 90px;
    height: 90px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: aqua;
}
.sportDescription{
    
    width: 200px;
    height: 90px;
    margin-left: 10px;
    background-color: azure;
    border-radius: 0px 30px 30px 0px;
}
.statsPlate{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
}
.statsGraphs{
    width: 90%;
    height: 60%;
    background-color: rgb(117, 236, 127);
    border-radius: 30px;
}
.arrow{
    width: 90px;
    height: 100%;
    background-color: rgb(236, 232, 117, 0.5)
}
.left{
    border-radius: 30px 0px 0px 30px;
}
.right{
    border-radius: 0px 30px 30px 0px;
}
.graph{
    width: 78%;
}

.statsNums{
    height: 32.4%;
    width: 90%;
    background-color: rgb(236, 232, 117);
    border-radius: 50px;
}