body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
}
.head{
    width: 50%;
    height: 80px;
    background-color: rgb(138, 189, 234);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.input{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
    justify-content: center;
}
.inputField{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.incert{
    width: 800px;
    height: 70px;
    background-color: black;
    color:  rgb(138, 189, 234);
    font-size: 20px;
}
#sect{
    display: flex;
}
#sect > h4{
    font-size: 20px;
    text-align: center;
    width: 90px;
}
.radioChooser{
    height: 20px;
    width: 20px;
    background-color: black;
}
.run{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    background-color:  rgb(138, 189, 234);
    border: solid 2px rgb(245, 202, 255);
}
.output{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
}
.txt{
    height: 600px;
    width: 1100px;
    background-color: black;
    color:  rgb(138, 189, 234);
    font-size: 25px;
    border: none;
    border-radius: 20px;
}
.minerArea{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.miner{
    width: 700px;
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
}
.miner > input {
    color: white
}