<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>fitness</title>
    <link rel="stylesheet" href="../globalStyles.css" />
    <link rel="stylesheet" href="../stylesReg.css" />
  </head>
  <body>
    <div class="content">
      <header>
        <div class="headContent">
          <div class="logo">
            <a href="/">
              <img src="../images/Fitness_logo_watchos.png" />
            </a>
          </div>
        </div>
      </header>
      <div class="main">
        <div class="mainContent">
          <div class="glassPlates">
            <div class="username">
              <h2>Registration or Authorization</h2>
            </div>
            <div class="info">
              <div class="infoContent">
                
                <a href="/loginPage">
                    <input type="button"class="redirect" value="I already have an account"/>
                </a>
                <a href="/regPage">
                    <input type="button" class="redirect" value="I'm a new user" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
