<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>fitness</title>
    <link rel="stylesheet" href="../globalStyles.css" />
    <link rel="stylesheet" href="../stylesReg.css" />
  </head>
  <body>
    <div class="content">
      <header>
        <div class="headContent">
          <div class="logo"> 
            <a href="/">
              <img src="../images/Fitness_logo_watchos.png" />
            </a>
          </div>
        </div>
      </header>
      <div class="main"> 
        <div class="mainContent">
          <div class="glassPlates">
            <div class="username">
              <h2>Authorization</h2>
            </div>
            <div class="info">
              <form
                class="infoContent"
                method="post"
                action="/login/loginSucces"
              >
                <div class="usersInfo">
                  <p>Username</p>
                  <input name="username" type="text" />
                </div>
                <div class="usersInfo">
                    <p>Password</p>
                    <input name="password" type="password" />
                </div>
                <input type="submit" class="submit subButton" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
        <!-- <script src="./scripts/Classes.js"></script> -->
        <!-- <script src="./scripts/algorithm.js" ></script> -->
        <!-- <script src="./scripts/Objects.js"></script> -->
        <!-- <script src="./scripts/functions.js"></script> -->
        <!-- <script src="./scripts/grf.js"></script> -->
        <!-- <script src="./scripts/autoScripts.js"></script> -->
        <!-- <script src="./scripts/fff_popup.js"></script> -->
        <!-- <script src="./scripts/listeners.js" ></script>    -->
        <script src="./scripts/loginSaver.js" type="module"></script>
  </body>
</html>
